{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <!--titles-->
                <hr>
                <h2 class="logo-font mb-4">FAQ</h2>
                <h5 class="text-muted">Fequently asked questions</h5>
                <hr>
                <h5>Who took these photos?</h5>
                <p>All of these photos were taken by my Father Chris Hearne.</p>
                <p>He is a seasoned walker based in the North East of England</p>
                <p>With a passion for photography.</p>
                <hr>
                <h5>How long will it take for the photos to be delievered?</h5>
                <p>It will usual take 3 to 5 working days to be delievered.</p>
                <p>On the off chance it takes longer you will be notified.</p>
            </div>
        </div>
    </div>
{% endblock %}