{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Return & Refund Policy</h2>
                <hr>
                <p>Thanks for shopping at Hearne Photos.</p>
                <p>If you are not entirely satisfied with your purchase, we're here to help.</p>
                <hr>
                <h5>Returns</h5>
                <p>You have 30 calendar days to return an item from the date you received it.</p>
                <p>To be eligible for a return, your item must be unused and in the same condition that you received it.</p>
                <p>Your item needs to have the receipt or proof of purchase.</p>
                <hr>
                <h5>Refund</h5>
                <p>Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.</p>
                <p>If your return is approved, we will initiate a refund to your credit card (or original method of payment).</p>
                <p>You will receive the credit within a certain amount of days, depending on your card issuer's policies.</p>
                <hr>
                <h5>Shipping</h5>
                <p>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are nonrefundable.</p>
                <p>If you receive a refund, the cost of return shipping will be deducted from your refund.</p>
                <hr>
                <h5>Contact Us</h5>
                <p>If you have any questions on how to return your item to us, contact us at either:</p>
                <p>Tel: 075345241616</p>
                <p>Email: callum.hearne98@gmail.com</p>
            </div>
        </div>
    </div>
{% endblock %}